################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Binary
.vs
Setup.exe
Setup.msi
obj